
.ui-btn, .ui-btn .ui-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* List buttons */
.ui-btn-inner {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: 0.95em;
	border-top: none;
}
.ui-btn-up-a, 
.ui-btn-hover-a, 
.ui-btn-down-a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	border-color: #eee;
}
.ui-btn-up-a {
	background-color: #fff;
	background-image: none;
}
.ui-btn-hover-a {
	background-color: #f8f8f8;
	background-image: none;
}
.ui-btn-up-a.ui-btn-active, 
.ui-btn-hover-a.ui-btn-active, 
.ui-btn-down-a.ui-btn-active,
.ui-btn-up-a.ui-focus, 
.ui-btn-hover-a.ui-focus, 
.ui-btn-down-a.ui-focus {
	border-color: #34bae8;
	background-color: #34bae8;
	background-image: none;
	color: #fff;
	text-shadow: 0 1px 0 #369;	
}
.ui-btn-up-a.ui-focus, 
.ui-btn-hover-a.ui-focus, 
.ui-btn-down-a.ui-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui-btn-active a.ui-link-inherit,
ist .ui-btn-active .ui-li-heading,
.ui-btn-active .ui-li-desc,
.ui-focus a.ui-link-inherit,
.ui-focus .ui-li-heading,
.ui-focus .ui-li-desc {
	color: #fff;
}

